/* = Metaboxes
-------------------------------------------------------------- */
#dnp-project-metabox table th{
	text-align: left;
	vertical-align: top;
	padding: 15px;
}

#dnp-project-metabox table td {
	padding: 10px 15px;
}

#dnp-project-metabox table tr.hide{
	display: none;
}

/* = Pricing Table
-------------------------------------------------------------- */
#pt-metabox #pt_textarea {
	display: none;
}

#pt-metabox div.pricing-table:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
#pt-metabox div.pricing-table {
	display: inline-block;
	margin: -6px -10px -9px;
}
 
html[xmlns] #pt-metabox div.pricing-table {
	display: block;
}
 
* html #pt-metabox div.pricing-table {
	height: 1%;
}

#pt-metabox div.pricing-table {
	position: relative;
}

#pt-metabox .btn_add_column {
	position: absolute;
	right: 30px;
	top: -24px;
	opacity: 0;
}

#pt-metabox:hover .btn_add_column {
	opacity: 0.5;
}

#pt-metabox .btn_add_column:hover {
	opacity: 1;
}

#pt-metabox #pt-table-style {
	position: absolute;
	right: 55px;
	top: -28px;
	opacity: 0;
}

#pt-metabox:hover #pt-table-style {
	opacity: 1;
}

#pt-metabox .pt-column {
	width: 25%;
	float: left;
	box-shadow: 1px 0 0 0 #ddd inset;
	position: relative;
	transition: width 0.5s;
	-moz-transition: width 0.5s; /* Firefox 4 */
	-webkit-transition: width 0.5s; /* Safari and Chrome */
	-o-transition: width 0.5s; /* Opera */
}

#pt-metabox div.pricing-table.grid1 .pt-column {
	width: 100%;
}

#pt-metabox div.pricing-table.grid2 .pt-column {
	width: 50%;
}

#pt-metabox div.pricing-table.grid3 .pt-column {
	width: 33.33%;
}

#pt-metabox div.pricing-table.grid4 .pt-column {
	width: 25%;
}

#pt-metabox div.pricing-table.grid5 .pt-column {
	width: 20%;
}

#pt-metabox .pt-column:first-child {
	box-shadow: none;
}

#pt-metabox .pt-column.featured,
#pt-metabox .pt-column:hover {
	background: #eee
}
#pt-metabox .pt-column.featured .icon-star{
	color:#998308;
}
#pt-metabox .pt-column.featured ul,
#pt-metabox .pt-column:hover ul {
	background: none;
}

#pt-metabox .pt-header {
	line-height: 25px;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	font-size: 18px;
}

#pt-metabox .pt-header span {
	font-size: 12px;
	height: 15px;
	display: block;
	text-align: center;
	line-height: 1;
	margin: 3px 0 0;
}

#pt-metabox .pt-header .icon-star,
#pt-metabox .pt-header .icon-remove {
	position: absolute;
	right: 10px;
	top: 15px;
	opacity: 0;
	cursor: pointer;
}

#pt-metabox .pt-header .icon-remove {
	right: 30px;
}

#pt-metabox .pt-price {
	line-height: 25px;
	height: 25px;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

#pt-metabox .pt-price strong {
	color: #ef4135;
	font-size: 18px;
}

#pt-metabox .pt-column:hover .icon-star,
#pt-metabox .pt-column:hover .icon-remove {
	opacity: 0.5;
}

#pt-metabox .pt-header .icon-star:hover,
#pt-metabox .pt-header .icon-remove:hover {
	opacity: 1;
}

#pt-metabox .pt-footer {
	padding: 10px;
	text-align: center;
	line-height: 25px;

	border-bottom: 1px solid #ddd;
}

#pt-metabox ul {
	margin: 0;
	background: #fff;
}

#pt-metabox li {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	box-shadow: 1px 0 0 0 #ddd inset;
	text-align: center;
	line-height: 25px;
	height: 25px;
	cursor: move;
}

#pt-metabox .pt-column:first-child li {
	box-shadow: none;
}

#pt-metabox li .icon-plus {
	opacity: 0.5;
}

#pt-metabox li.btn_add_more:hover {
	background: #fff;
	border: 3px dashed #ddd;
	padding: 7px 7px 8px;
	cursor: pointer;
	box-shadow: none;
}

#pt-metabox li.btn_add_more:hover .icon-plus {
	opacity: 1;
}

#pt-metabox li .icon-remove {
	margin-top: -1px;
	opacity: 0.5;
	cursor: pointer;
}

#pt-metabox li .icon-remove:hover {
	opacity: 1;
}

#pt-metabox .pricing-table.style-2 .pt-price {
	background: #333;
	color: #fff;
}

#pt-metabox .pricing-table.style-2 .pt-price strong {
	color: #fff;
}

#pt-metabox .pricing-table.style-2 .pt-column:first-child .pt-header,
#pt-metabox .pricing-table.style-2 .pt-column:first-child .pt-footer {
	text-indent: -9999px;
}

#pt-metabox .pricing-table.style-2 .pt-column:first-child .pt-header .icon-star {
	display: none;
}

#pt-metabox .pricing-table.style-2 .pt-column:first-child .pt-header .icon-remove {
	right: 10px;
}

#pt-metabox .pricing-table.style-2 .pt-header span {
	display: none;
}

#pt-metabox .pricing-table.style-2 .pt-column:first-child .pt-price {
	background: none;
	color: #333;
}

#pt-metabox .pricing-table.style-2 .pt-column:first-child .pt-price strong {
	color: #333;
}

.width0{
	display: none;
}
